.uncompleteTasks {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
}

.deleteTasksButton {
    visibility: hidden;
    margin: 0 10px;
    cursor: default;
    color: red;
}

.tasksElement {
    margin: 0 10px;
}

.emptyTask {
    color: gray;
}